/* src/styles/Table.css */
.table-container {
  padding: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--background); /* Usa a cor de fundo do tema */
  color: var(--text); /* Usa a cor do texto do tema */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0); /* Sombra suave */
  border-radius: 8px; /* Bordas arredondadas */
  overflow: hidden; /* Esconde bordas internas arredondadas */
}

.table th,
.table td {
  padding: 12px 15px;
  border-bottom: 1px solid var(--table-border-color);
  text-align: left;
}

.table th {
  background-color: var(--table-header-bg);
  color: var(--table-header-text);
  font-weight: bold;
}

/* Efeito de zebrado (linhas alternadas) */
.table tr:nth-child(odd) {
  background-color: var(--table-row-bg-odd); /* Linha cinza escura */
}

.table tr:nth-child(even) {
  background-color: var(--table-row-bg-even); /* Linha cinza mais clara */
}

.table tr:hover {
  background-color: var(--table-row-hover-bg);
}

.table-actions {
  display: flex;
  gap: 10px;
}

.table-button {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  gap: 5px;
}

.table-button.edit {
  background-color: var(--button-edit-bg);
}

.table-button.edit:hover {
  background-color: var(--button-edit-hover-bg);
}

.table-button.delete {
  background-color: var(--button-delete-bg);
}

.table-button.delete:hover {
  background-color: var(--button-delete-hover-bg);
}